## Data Analysis with Python: Inform a Business Decision
## (Guided Data Analysis Project)

##

## Senario A:
## We want to promote Airbnb units that:
## 1. cost $100 or less per night
## 2. don't require more than a 2-night minimum stay
## 3. have at least 100 reviews
## 4. are available at least 180 days per year

##

### Task 1
### Import Airbnb data from the New York csv

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"C:\Users\ska_p\OneDrive\Desktop\Coursera Courses and Degrees\Guided Project - Data Analysis with Python - Inform a Business Decision\data/AB_NYC_2019.csv")

In [3]:
# Inspecting the data
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [4]:
# Getting some more information about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

##

### Task 2
### Remove rows and columns that are not needed for our purposes
### Clean and format the data as necessary

In [5]:
# Dropping some columns that are not needed, at first glance
droplist = ["host_name", "neighbourhood", "latitude", "longitude", "room_type", "calculated_host_listings_count", "reviews_per_month"]

In [6]:
df.drop(droplist, axis=1, inplace=True)

In [7]:
df

,id,name,host_id,neighbourhood_group,price,minimum_nights,number_of_reviews,last_review,availability_365
0,2539,Clean & quiet apt home by the park,2787,Brooklyn,149,1,9,2018-10-19,365
1,2595,Skylit Midtown Castle,2845,Manhattan,225,1,45,2019-05-21,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Manhattan,150,3,0,NaN,365
3,3831,Cozy Entire Floor of Brownstone,4869,Brooklyn,89,1,270,2019-07-05,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Manhattan,80,10,9,2018-11-19,0
...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Brooklyn,70,2,0,NaN,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Brooklyn,40,4,0,NaN,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Manhattan,115,10,0,NaN,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Manhattan,55,1,0,NaN,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Manhattan,90,7,0,NaN,23

In [8]:
# Checking for empty data entries
df.isnull().sum()

id                         0
name                      16
host_id                    0
neighbourhood_group        0
price                      0
minimum_nights             0
number_of_reviews          0
last_review            10052
availability_365           0
dtype: int64

In [9]:
# The "last_review" column seems to have quite a lot of missing values
# Removing these rows might skew the results, since the rest of the entries seem to be ok
# Probably a much better idea to drop this column as well
df.drop(columns=["last_review"], inplace=True)

In [10]:
# The "name" column has 16 missing values, a number completely negligible in regards to our total rows, so we'll just drop them
df.dropna(inplace=True)

In [11]:
df.isnull().sum()

id                     0
name                   0
host_id                0
neighbourhood_group    0
price                  0
minimum_nights         0
number_of_reviews      0
availability_365       0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48879 entries, 0 to 48894
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   48879 non-null  int64
 1   name                 48879 non-null  object
 2   host_id              48879 non-null  int64
 3   neighbourhood_group  48879 non-null  object
 4   price                48879 non-null  int64
 5   minimum_nights       48879 non-null  int64
 6   number_of_reviews    48879 non-null  int64
 7   availability_365     48879 non-null  int64
dtypes: int64(6), object(2)
memory usage: 3.4+ MB

In [13]:
# Checking for duplicates
df.duplicated().value_counts()

False    48879
Name: count, dtype: int64

##

### Task 3
### Use query method to find the entries we are interested in

In [14]:
df.head(1)

,id,name,host_id,neighbourhood_group,price,minimum_nights,number_of_reviews,availability_365
0,2539,Clean & quiet apt home by the park,2787,Brooklyn,149,1,9,365

In [15]:
df_q = df.query("price<=100 & minimum_nights<=2 & number_of_reviews>=180 & availability_365>=180")

In [16]:
df_q

,id,name,host_id,neighbourhood_group,price,minimum_nights,number_of_reviews,availability_365
3,3831,Cozy Entire Floor of Brownstone,4869,Brooklyn,89,1,270,194
7,5178,Large Furnished Room Near B'way,8967,Manhattan,79,2,430,220
39,12048,LowerEastSide apt share shortterm 1,7549,Manhattan,40,1,214,188
57,15220,Best Location in NYC! TIMES SQUARE!,59734,Manhattan,69,2,289,294
110,26362,"Times Square, Safe, Clean and Cozy!",59734,Manhattan,59,2,334,279
...,...,...,...,...,...,...,...,...
27346,21581545,"STEPS TO LGA, Near CITIFIELD, JFK MANHATTAN(RM 3)",156948703,Queens,65,1,191,336
27369,21593310,"STEPS TO LGA, near CITIFIELD, JFK MANHATTAN(RM...",156948703,Queens,60,1,257,351
27479,21646774,"STEPS TO LGA, Near CITIFIELD, JFK MANHATTAN(RM...",156948703,Queens,55,1,208,352
27649,21730735,"Steps to LGA, near CitiField, JFK,Manhattan (R...",156948703,Queens,52,1,207,325
27847,21822619,THE HUGH SUITES 3mins to JFK,1280731,Queens,80,1,214,307

In [17]:
df_q.info()

<class 'pandas.core.frame.DataFrame'>
Index: 195 entries, 3 to 27847
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   195 non-null    int64
 1   name                 195 non-null    object
 2   host_id              195 non-null    int64
 3   neighbourhood_group  195 non-null    object
 4   price                195 non-null    int64
 5   minimum_nights       195 non-null    int64
 6   number_of_reviews    195 non-null    int64
 7   availability_365     195 non-null    int64
dtypes: int64(6), object(2)
memory usage: 13.7+ KB

##

### Task 4
### Sorting the results to prepare potential hosts to promote

In [18]:
# Sorting the dataframe by "neighbourhood_group" and then by "price"
df_sorted = df_q.sort_values(["neighbourhood_group", "price"])
df_sorted.head(20)

,id,name,host_id,neighbourhood_group,price,minimum_nights,number_of_reviews,availability_365
1965,858695,Very Large Private Room on quiet st,4494343,Bronx,30,2,291,208
1706,773041,Nice beautiful room In the Bronx,3684360,Bronx,38,1,187,241
171,44096,Room with a View,190409,Bronx,40,1,219,353
1666,755528,PRIVATE BATH/TONS OF SUNLIGHT/SAFE,3684360,Bronx,49,2,189,238
433,149777,Artsy 1 bedroom Apt. 20 min to 42nd Grand Cent...,716306,Bronx,77,1,197,309
16691,13348000,Home*Sweet*Home\nQuiet neighborhood,69546772,Bronx,89,1,192,303
14310,11138823,A beautiful Cozy 1 BR Apartment.,57885474,Bronx,90,2,199,319
23371,18914730,IDEALLY LOCATED COZY COTTAGE,1776707,Bronx,95,1,266,345
3769,2267177,Large Bedroom 15 Min From Manhattan,11576459,Brooklyn,45,2,211,270
13829,10444139,Budget Room at Brooklyn&Breakfast,344035,Brooklyn,45,1,204,324
1176,502309,"Sunny Rm #1, Air Conditioner, Park,Express Q t...",2478675,Brooklyn,46,1,184,362
11232,8704528,Private bedroom & bath in Red Hook Bklyn for solo,45694156,Brooklyn,50,1,190,188
14319,11146432,Cozy top floor room at Brooklyn&Breakfast,344035,Brooklyn,50,1,257,286
14552,11470210,"Delightful, Cozy and Convenient Room in Brookl...",60346942,Brooklyn,50,1,210,189
14657,11575073,Warm and Cozy Room in Hip Iconic Brooklyn!!!,60346942,Brooklyn,50,1,192,189
3409,2045727,Cozy Room in Family Home..BKLYN!!!,320284,Brooklyn,52,2,203,323
378,113265,Brooklyn- Crown Heights Garden Apt.,314582,Brooklyn,55,2,247,275
3192,1906804,Private Master Bedroom w/Garden 14 min to Unio...,9820942,Brooklyn,55,1,227,341
3418,2051675,Nice modern room by Prospect Park!,4684532,Brooklyn,57,2,199,265
3169,1888006,"14 Min 2Union Sq, Manhattan with Private Entrance",9820942,Brooklyn,58,1,236,350

In [19]:
# Checking out the last 10 dataframe entries
print(df_sorted.tail(10).to_string())

             id                                               name    host_id neighbourhood_group  price  minimum_nights  number_of_reviews  availability_365
26977  21366188    Studio apartment near JFK airport /Free parking  154705359              Queens     96               1                259               307
14194  10945632                All to yourself home away from home   56758927              Queens     97               2                252               290
16754  13388649           Spacious Private Home - 20m to Manhattan    1544804              Queens     99               1                185               211
13710  10283574                           Apt next to Astoria park   35518413              Queens    100               1                206               304
18745  14839830  Modern Spacious Private One bedroom Free Parking.   48630747              Queens    100               1                197               342
249       62452                     A SpeciaL!! Private Room in NY     303939       Staten Island     36               2                193               360
256       63320                 D Private Che@p Room 2 Explore NYC     303939       Staten Island     36               2                333               340
5387    3892700                    Cozy 1BR-Country living in NYC!      46969       Staten Island     70               2                242               256
6941    4974843                            Charming private Studio   25641892       Staten Island     70               2                196               231
4324    2889387                New York City near Staten Is. Ferry    2269517       Staten Island     95               2                234               264

In [20]:
# So the hosts we can promote, who match our criteria, are ready
# It would also be useful to have an idea of how many recommended host exist, in every neighbourhood
df_sorted["neighbourhood_group"].value_counts()

neighbourhood_group
Brooklyn         69
Manhattan        60
Queens           53
Bronx             8
Staten Island     5
Name: count, dtype: int64

In [21]:
# We can save the final dataframe containing the promotions, as a csv
df_sorted.to_csv("Promoted Airbnb Units")

##

## Senario B:
## Airbnb wants to promote luxury units in the two most popular boroughs in NYC.
## We need to determine how many units in these two boroughs cost more than $1000 per night, and have a minimum stay of 1 or 2 nights.

##

### We will import the raw data once again, and perform the functions needed to clean the data, and meet the requirements.

In [22]:
df = pd.read_csv(r"C:\Users\ska_p\OneDrive\Desktop\Coursera Courses and Degrees\Guided Project - Data Analysis with Python - Inform a Business Decision\data/AB_NYC_2019.csv")

In [23]:
# Once again we need to preprocess the data, taking care of any missing or duplicate values
# But first, lets drop reduntant columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [24]:
# I will keep only the columns relevant to the objective
df.drop(["host_name", "neighbourhood", "latitude", "longitude", "room_type", "number_of_reviews", "last_review", "reviews_per_month", 
         "calculated_host_listings_count", "availability_365"], axis = 1, inplace=True)

In [25]:
df.head(5)

,id,name,host_id,neighbourhood_group,price,minimum_nights
0,2539,Clean & quiet apt home by the park,2787,Brooklyn,149,1
1,2595,Skylit Midtown Castle,2845,Manhattan,225,1
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Manhattan,150,3
3,3831,Cozy Entire Floor of Brownstone,4869,Brooklyn,89,1
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Manhattan,80,10

In [26]:
# Checking for missing and duplicates
print(df.duplicated().value_counts())
print("There seem to be", df.duplicated().sum(), "duplicates in the dataframe")

False    48895
Name: count, dtype: int64
There seem to be 0 duplicates in the dataframe

In [27]:
df.isnull().sum()

id                      0
name                   16
host_id                 0
neighbourhood_group     0
price                   0
minimum_nights          0
dtype: int64

In [28]:
# Dropping the very few remaining missing values
df.dropna(inplace=True)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48879 entries, 0 to 48894
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   48879 non-null  int64
 1   name                 48879 non-null  object
 2   host_id              48879 non-null  int64
 3   neighbourhood_group  48879 non-null  object
 4   price                48879 non-null  int64
 5   minimum_nights       48879 non-null  int64
dtypes: int64(4), object(2)
memory usage: 2.6+ MB

In [30]:
# To find the two most popular boroughs, we can investigate which two boroughs have the most Airbnb hosts
df["neighbourhood_group"].value_counts()

neighbourhood_group
Manhattan        21652
Brooklyn         20098
Queens            5666
Bronx             1090
Staten Island      373
Name: count, dtype: int64

In [31]:
# We notice that the two most popular boroughs are "Manhattan" and "Brooklyn"
# We can transform the dataframe so that it contains data from olny these two boroughs
df = df[(df["neighbourhood_group"]=="Manhattan") | (df["neighbourhood_group"]=="Brooklyn")]

In [32]:
df["neighbourhood_group"].value_counts()

neighbourhood_group
Manhattan    21652
Brooklyn     20098
Name: count, dtype: int64

In [33]:
# Now we can continue the sorting for the last two required conditions, using the query function
df_sorted = df.query("price>1000 & minimum_nights<=2")

In [34]:
df_sorted.head(20)

,id,name,host_id,neighbourhood_group,price,minimum_nights
1105,468613,$ (Phone number hidden by Airbnb) weeks - room f,2325861,Manhattan,1300,1
2236,1056256,Beautiful eco triplex w/green roof. Free yoga/...,462379,Brooklyn,1395,1
2520,1300097,"Marcel the Shell with Shoes On or Off, Whatever",4069241,Brooklyn,1500,1
2698,1448703,Beautiful 1 Bedroom in Nolita/Soho,213266,Manhattan,5000,1
2772,1515692,Beautiful Lower East Side Penthouse,4358024,Manhattan,1100,2
2896,1655880,"4BD, 2 Bath Apt Flatiron on 6th Ave",8778889,Manhattan,1200,1
3131,1861281,Carol,9709464,Manhattan,1700,1
3306,1976123,Huge Loft with Private Entrance,6547579,Manhattan,1999,1
3333,1989838,Luxury 4 BD NYC Times Sq Apartment,3185905,Manhattan,1500,1
3598,2150727,1500 sq ft apt sleeps 8 - SuperBowl,5579700,Manhattan,2000,1
3622,2169765,Lower Park Avenue Pre War,8258307,Manhattan,2000,1
3637,2186452,Tribeca Loft for Superbowl Wknd,10636508,Manhattan,1500,1
3684,2217398,"226 E 29th St, NY - Super Bowl",11312158,Manhattan,1500,1
3695,2224896,NYC SuperBowl Wk 5 Bdrs River View,11353904,Manhattan,4000,1
3702,2231814,Modern Luxury Meets Old Money Charm,112879,Brooklyn,1200,1
3720,2243699,"SuperBowl Penthouse Loft 3,000 sqft",1483320,Manhattan,5250,1
3721,2243769,Super Bowl New York City Apartment,11460768,Manhattan,1500,1
3723,2243984,Superbowl in the West Village,11461854,Manhattan,1500,1
3731,2250170,Spacious/New 3 Bedroom East Village,11492501,Manhattan,1500,1
3732,2250372,"Huge 3BR Penthouse, Private Roof!",11490872,Manhattan,1550,2

In [35]:
df_sorted.info()

<class 'pandas.core.frame.DataFrame'>
Index: 122 entries, 1105 to 48535
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   122 non-null    int64
 1   name                 122 non-null    object
 2   host_id              122 non-null    int64
 3   neighbourhood_group  122 non-null    object
 4   price                122 non-null    int64
 5   minimum_nights       122 non-null    int64
dtypes: int64(4), object(2)
memory usage: 6.7+ KB

In [36]:
# So we have 122 entries that meet the requested conditions, and once again we can save the final dataframe as a csv for reporting
df_sorted.to_csv("Promoted Airbnb Luxury Units")